*:focus {
    outline: none;
}
*::selection {
    background-color: #ff5e00;
    color: white;
}
* {
    transition: .3s;
    font-family: 'Quicksand', sans-serif;
    cursor: url(https://raw.githubusercontent.com/okeke-ugochukwu/okeke-ugochukwu.github.io/main/img/cursor.png), default;
}
html {
    scroll-behavior: smooth;
}
body {   
    background: white;
    color: rgb(102, 49, 227);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .9s;
}
p {
    font-size: 1.2rem;
}


/*firefox fix*/
body {
    scrollbar-width: 9px;              
    scrollbar-color: #490FCF;
}
/*chrome etc fix*/
body::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background: #490FCF;
    border-radius: 10px;
    height: 10px;
}


.container {
    width: 90%;
    margin: auto;
}
header {
    color: #6631e3;
}
.space {
    width: 100%;
    height: 100px;
}
#page-icon {
    display: none;
}
.hey {
    max-width: 590px;
    margin-bottom: 10px;
    font-size: 2.3rem;
    font-weight: 700;
}

#front-end {
    background: linear-gradient(to left, #ff512f 0%, #f07a19 51%, #ff512f 100%);
    background-size: 400% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: 2s fadeaquarium infinite both;
}
@keyframes fadeaquarium {
    0% {
        
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: initial;

    }
}
.role {
    font-size: 1.2rem;
    max-width: 590px;
    margin-bottom: 12px;
    line-height: 130% ;
}
.header-buttons {
    display: flex;
    margin-bottom: 10px;
}
.btn {
    position: relative;
}
.action-btn {
    display: block;
    font-size: 1.2rem;
    padding: 13px 15px;
    border-radius: 50px;
    background: transparent;
    color: #6832e3;
    border: 2px solid rgb(104, 50, 227);
}
.action-btn:hover{
    transform: scale(1.1);
    color: #ff4800;
    border: 2px solid #ff4800;
}
.action-btn a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.btn:first-of-type .action-btn {
    color: white;
    border: none;
    margin-right: 13px;
    padding: 12px 15px;
    box-shadow: 0px 15px 20px #8894c2a9;
    background: linear-gradient(to right, #2d23f7 ,#6a38d8);
}
.btn:first-of-type .action-btn:hover {
    background: linear-gradient(to right, #ee1d16, #ff6a00);
    box-shadow: 0px 15px 20px #ff6a005d;
}
.action-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#project-icon-box {
    background: #f9f9fd;
    border-radius: 50px;
    margin-right: 5px;
}
#project-icon {
    width: 15px;
    padding: 7px 6px 6px 6px;
}
#toon {
    position: absolute;
    float: inline-end;
    top: 200px;
    right: 10px;
    width: 600px;
}



section {
    display: flex;
    position: relative;
    margin-bottom: 200px;
    justify-content: space-around;
}
section p a {
    color: #FF5C1C;
    text-decoration: none;
}
section .hey {
    margin-bottom: 25px;
}
.left {
    display: none;
}
.right {
    width: 100%;
    line-height: 25px;
    display: grid;
    align-content: center;
}
.line {
    width: 20%;
    height: 10px;
    background: #490FCF;
    border-radius: 100px;
    margin-top: 20px;
}
.ui-images {
    filter: drop-shadow(2px 2px 10px #9b9b9bc4);
}




.download-btn { 
    align-items: center;  
    width: max-content;
    padding: 10px 12px;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0 0 0 0 #8894c2a9;
    background: linear-gradient(to right, #2d23f7 ,#6a38d8);
    transition: .3s;
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}
@keyframes pulse {
    to {
      box-shadow: 0 0 0 15px rgba(230, 237, 255, 0);
    }
}
.download-btn:hover, .more-projects a:hover {
    background: linear-gradient(to right, #ee1d16, #ff6a00);
    box-shadow: none;
    transform: scale(1.1);
}
.download-btn a {
    text-decoration: none;
    color: white;
}






/**projects section***/
.sub-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    margin-bottom: 80px;
}
.grid-item {
   width: 93%; 
}
.thumbnail {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: #490FCF;
}
.thumbnail-descr h3 {
    font-size: 30px;
    margin: 10px 0px 15px;
}
.thumbnail-descr p {
    width: 90%;
    margin-bottom: 10px;
}
.project-btns {
    width: 100%;
    display: flex;
}
.project-btns button {
    width: 40%;
    padding: 0px;
    background: none;
    border: none;
}
.project-btns button:first-child {
    margin-right: 15px;
}
.project-btns a {
    display: block;
    padding: 10px 0px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    background: linear-gradient(to right, #2d23f7 ,#6a38d8);
}
.project-btns a:hover {
    background: linear-gradient(to right,  #ee1d16, #ff6a00);
    box-shadow: 0px 10px 20px #ff6a005d;
    transform: scale(1.1);
}
#source {
    background: transparent;
    color: #ff4800;
    border: 2px solid #ff4800
}
#source:hover {
    color: white;
    border: none;
    box-shadow: none;
    background: linear-gradient(to right,  #ee1d16, #ff6a00);
}
.more-projects {
    width: 250px;
    border: none;
    background: none;
}
.more-projects a {
    display: block;
    text-decoration: none;
    padding: 15px 0px;
    color: white;
    box-shadow: 0 0 0 0 #8894c2a9;
    background: linear-gradient(to right, #2d23f7 ,#6a38d8);
    transition: .3s;
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 20px;
    border-radius: 100px;
}
.more-projects a:hover {
 /**refer to .download-btn hover, line 200**/
}






.contact-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contact-section .hey {
    width: 85%;
    line-height: 1.7ch;
    margin-bottom: 5px;
}
.contact-section p {
    width: 90%;
}
.contact-section > div {
    width: 45%;
}
.social-icons-links {
    margin: 10px 0px 20px 0px;
}
.social-icons-links i {
    font-size: 30px;
    color: white;
    padding: 10px;
    background: linear-gradient(130deg, #2d23f7 ,rgb(131, 67, 250));
    border-radius: 100px;
    margin-right: 7px;
}
.social-icons-links i:hover {
    transform: scale(1.06);
}
.form-container {
    width: 100%;
    margin-top: 15px;
}
form {
    width: 100%;
}
.field  {
    width: 67%;
    margin-bottom: 15px;
    border-radius: 50px;
    background: #F4F6FC;
    padding: 5px 20px;
}
.field i {
    margin-right: 5px;
    font-size: 23px;
}
input {
    height: 30px;
    border-radius: 50px;
    width: 90%;
}
.field:nth-child(3) {
    border-radius: 20px;
    padding: 10px 20px;
}
.field:nth-child(4) {
    background: none;
}
.field:nth-child(5) {
    background: linear-gradient(to right, #2d23f7 ,rgb(161, 67, 250));
    padding: 9px 20px;
}
.field:nth-child(5):hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #ee1d16, #ff6a00);
    box-shadow: 0px 15px 20px #ff6a005d;
}
.field:nth-child(5) input{
    width: 100%;
    color: white;
    font-size: 1.2rem;
    background: none;
}
textarea {
    height: 150px;
    resize: none;
    width: 99%;
    scrollbar-width: 9px;              
    scrollbar-color: #490FCF ;
}
textarea::-webkit-scrollbar {
    width: 9px;
}
textarea::-webkit-scrollbar-thumb {
    background: #490FCF;
    border-radius: 10px;
    height: 10px;
}
input, 
textarea {
    background: #F4F6FC;
    border: none;
    caret-color: #490FCF;
    color: #490FCF;
    font-weight: 400;
}
input::placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #490FCF;
}

.social-img {
    width: 870px;
    margin-left: -130px;
}
footer {
    background: #490FCF;
    color: white;
    text-align: center;
    padding: 50px;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}





/*updates*/
.scroll-top-container {
    transform: scale(0);
    position: fixed;
    z-index: 1;
    bottom: 50px;
    right: 50px;
}
.scroll-top-container button {
    background: none;
    border: none;
    padding: 0;
}
.scroll-top-container i {
    padding: 17px;
    color: white;
    display: block;
    font-size: 20px;
    border-radius: 100px;
    background: linear-gradient(130deg, #2d23f7 ,rgb(131, 67, 250));
}

.scroll-top-container i:hover {
    background: linear-gradient( 130deg, #ee1d16, #ff6a00);
    box-shadow: 0px 10px 10px #ff6a0077;
    transform: scale(1.2);
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

.page {
    opacity: 0;
}
.intro {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
#preloader {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: -60px;
}
#loader {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: #3304a0;
    animation: spin 1s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: #ff4800;
    animation: spin 2.3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: #5416db;
    animation: spin .9s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* darkmode switch */




@media only screen and (max-width: 1089px) {
    #toon {
        width: 450px;
    }
    header {
        margin-bottom: 300px;    
    }
    section {
        margin-bottom: 50px;
    }
    section .hey {
        margin-bottom: 15px;
    }
    .line {
        width: 80px;
    }
    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
        grid-row-gap: 20px;
        margin-bottom: 40px;
    }
    .project-btns >button:nth-child(2) {
        width: 50%;
    }
    .thumbnail-descr h3 {
        font-size: 25px;
    }
    .break {
        display: none;
    }
    .social-img-container {
        display: none;
    }
    .contact-section {
        align-items: center;
        justify-content: center;
    }
    .contact-section > div {
        width: 80%;
    }
    .contact-section .right {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-section .hey, 
    .contact-section p {
        text-align: center;
        width: unset;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-icons-links i {
        font-size: 27px;
        
    }
    .scroll-top-container {
        bottom: 30px;
        right: 30px;
    }
    .scroll-top-container i {
        padding: 15px;
    }
    #preloader {
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width: 399px) {
    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        justify-items: center;
        grid-row-gap: 30px;
        margin-bottom: 30px;
    }
    .project-btns >button:nth-child(2) {
        width: 40%;
    }
    .thumbnail-descr h3 {
        margin: 10px 0px 5px;
    }
    .thumbnail-descr p {
        line-height: 2.2ch;
    }
    .social-icons-links i {
        font-size: 25px;
        
    }
}

@media only screen and (max-width: 679px) {
    input {
        width: 78%;
    }
    .field {
        width: 85%;
    }
    #preloader {
        transform: scale(0.5);
    }
    #preloader {
        transform: scale(0.4);
        margin-left: 0;
    }
}

@media only screen and (max-width: 359px) {
    
    input {
        width: 85%;
    }
    .scroll-top-container {
        bottom: 20px;
        right: 15px;
    }
    .scroll-top-container i {
        padding: 13px;
        font-size: 15px;
    }
    .scroll-top-container i:hover {
        transform: scale(1.2);
    }
    .more-proj-btn-container {
        align-self: flex-start;
    }

}
@media only screen and (max-width: 317px) {
    input {
        width: 83%;
    }
}
@media only screen and (max-width: 919px) {
    #toon {
        display: none;
    }
    header {
        margin-bottom: 100px;    
    }
    #page-icon {
        display: initial;
        width: 80px;
        float: right;
        margin: 10px 10px 0px 0px;
    }
    .icons {
        width: 30px;
    }
    .icon-box {
        display: inline;
        padding: 20px 15px;
        border-radius: 100px;
        box-shadow: 2px 3px 7px rgba(128, 128, 128, 0.185);
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 500px)   {
   .container {
       width: 80%;
   }
   .hey{
        margin-bottom: 0;
   }
    .action-btn, .download-btn {
        font-size: 1.2rem;
        padding: 14px 30px;
    }
    .btn:first-of-type .action-btn {
        padding: 12px 25px;
        margin-right: 23px;
    }
    #project-icon {
        width: 18px;
    }
    #project-icon-box {
        margin-right: 10px
    }
    .section p {
        font-size: 1.4rem;
    }

}
@media only screen and (max-width: 1268px) {
    #toon {
        right: 20px;
    }
}
@media only screen and (min-width: 890px) {
    p {
        font-size: 1.2rem;
    }
    .switch {
        display: block
    }
}
@media only screen and (min-width: 1090px)   {
    header {
        margin-bottom: 370px;
    }
    p {
        font-size: 1.2rem;
    }
    .hey {
        font-size: 3rem;
    }
    .role, section p {
        font-size: 1.4rem;
    }
    section p {
        line-height: 33px;
    }
    .action-btn, .download-btn {
        font-size: 1.4rem;
        padding: 14px 50px;
    }
    .btn:first-of-type .action-btn {
        padding: 14px 50px;
    }
    #project-icon-box {
        display: none;
    }
    #toon {
        width: 510px;
    }
    .left {
        display: initial;
    }
    .ui-images {
        width: 470px;
    }
    .right {
        width: 40%;
    }
    .social-img {
        width: 700px;
        margin-left: -130px;
    }
}
@media only screen and (min-width: 1089px), only screen and (max-width: 1450) {
  /**fix**/
    input {
      width: 85%
  }
}
@media only screen and (min-width: 1400px) {
    header {
        margin-bottom: 500px;
    }
    .hey {
        font-size: 3.6rem;
        max-width: 700px;
        margin-top: 0;
    }
    .role {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .action-btn,.download-btn {
        font-size: 1.4rem;
        padding: 12px 50px;
    }
    #toon {
        width: 650px;
    }
    p {
        font-size: 1.6rem;
    }
    .ui-images {
        width: 600px;
        filter: drop-shadow(2px 2px 10px #9b9b9bc4);
    }
    .social-img {
        width: 870px;
        margin-left: -130px;
    }
} 






