@tailwind base;
@tailwind components;
@tailwind utilities;
@import './mini/reset';
@import './mini/base';
@import './mini/colors';
@import './mini/fonts';
@import './mini/mixins';
@import './mini/screens';
@import './mini/cursor';

* {
   // @include outline;
}

main {
   @include flex(center, center, column);
}

.app {
   padding-top: 50px;
   padding-bottom: 40px;
   height: max-content;
   position: relative;

   @include p-laps {
      padding-top: 33px;
      padding-bottom: 80px;
   }

   &__margin {
      width: 88.7%;
      margin: 0 auto;
      max-width: 760px;
      position: relative;
      z-index: 1;
      @include flex(center, false, column);
   }

   &__bg {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      background: url('/img/bg-pattern.png') left/800px;
   }

   &__colorSwitch {
      position: fixed;
      z-index: 10;
      display: block;
      @include flex(center, center, false);
      bottom: 30px;
      right: 30px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      cursor: url('/img/cursor_hand.png'), pointer;

      @media (hover: hover) {
         &:hover {
            transform: scale(1.05);
         }
      }

      @include p-laps {
         position: relative;
         bottom: unset;
         right: unset;
         width: 80px;
         height: 80px;
         margin-bottom: 65px;
      }

      input {
         display: none;
      }
   }

   &__header {
      width: 100%;
      text-align: center;
      @include flex(center, flex-start, column);
      gap: 40px;
      // margin-bottom: 30px;

      @include tabs {
         margin-bottom: 48px;

      }

      @include p-laps {
         @include flex(center, flex-start, row);
         gap: 40px;
         width: max-content;
         text-align: left;
      }

      &__avi {
         width: 171px;
         aspect-ratio: 1 / 1;
         @include flex(center, center, false);
         border-radius: 100%;
         overflow: hidden;
         border: 4px solid $tcd-yellow;
         padding: 8px;

         @include tabs {
            width: 192px;
         }

         img {
            display: block;
            width: 100%;
            border-radius: 100%;
            overflow: hidden;
         }
      }

      &__descr {
         margin-bottom: 22px;
      }

      &__links {
         height: max-content;
         padding: 0;

         li {
            display: inline-block;

            a {
               display: block;
            }

            svg {
               display: block;
               width: 22px;
               height: 24px;

               @include tabs {
                  width: 36px;
                  height: 36px;
               }
            }

            &:not(last-child) {
               margin-right: 26px;
            }
         }
      }
   }

   &__stats {
      text-align: center;
      @include flex(center, space-between, row);
      gap: 32.5px;
      // margin-bottom: 30px;
      padding: 20px 0px;

      span:nth-child(1) {
         display: block;
      }

      @include tabs {
         margin-bottom: 47px;
         gap: 90px;
      }
   }

   &__cta {
      @include flex(center, center, false);
      gap: 14px;
      padding: 18px 0px;
      // margin-bottom: 30px;

      @include tabs {
         gap: 36px;
         padding: 0;
         margin-bottom: 86px;
      }

      &__button {
         width: 158px;
         height: 44px;
         @include flex(center, center, row);
         gap: 13px;
         border-radius: 10px;

         @include tabs {
            width: 290px;
            height: 80px;
         }

         svg {
            width: 16px;
            height: 14px;

            @include tabs {
               width: 26.979px;
               height: 24px;
            }
         }

         &.pressed {
            transition: .2s;
            transform: scale(.98);
         }
      }
   }

   &__tabs {
      width: 100%;
      display: flex;
      padding: 10px 0px;
      margin-bottom: 30px;

      @include tabs {
         padding: 0;
         border-radius: 20px;
         margin-bottom: 76px;
      }

      input {
         display: none;

         &[type="radio"]:checked {
            &:nth-of-type(2):checked {
               & ~ div.app__tabs__ind {
                  div.app__tabs__block {
                     margin-left: calc(50% + 3px);

                     @include tabs {
                        margin-left: 50%;
                     }
                  }
               }
            }
         }


      }

      label {
         display: block;
         position: relative;
         z-index: 1;
         width: 100%;
         text-align: center;
         @include flex(center, center, false);
         border-radius: 10px;
      }

      &__inner {
         width: 100%;
         height: 64px;
         padding: 6.85px;
         position: relative;
         border-radius: 10px;
         @include flex(stretch, space-between, false);
         gap: 9px;

         @include tabs {
            gap: 0;
            height: 110px;
            padding: 15px 23.75px;
         }
      }

      &__ind {
         position: absolute;
         width: 100%;
         top: 0;
         left: 0;
         height: 100%;
         padding: 6.85px;

         @include tabs {
            padding: 15px 23.75px;
         }
      }

      &__block {
         width: calc(50% - 3px);
         height: 100%;
         border-radius: 10px;

         @include tabs {
            width: 50%;
         }
      }
   }

   &__tabs__content {
      width: 100%;
      height: max-content;
      transition: .5s ease;

      &.in-transition {
         filter: blur(25px);
         opacity: .5;
      }
   }

   &__projects {
      width: 100%;
      display: none;

      ul {

         li {
            display: inline-block;
            width: 100%;
            aspect-ratio: 1.7 / 1;
            border-radius: 15px;
            overflow: hidden;

            &:not(:last-child) {
               margin-bottom: 30px;
            }

            @include tabs {
               &:not(:last-child) {
                  margin-bottom: unset;
               }
            }

            a {
               display: block;
               width: 100%;
               height: 100%;
               position: relative;

               &::after {
                  filter: grayscale(1) brightness(0.7);
                  position: absolute;
                  top: 0; left: 0;
                  content: ''; 
                  width: 100%;
                  height: 100%;
               }

               &#portfolio {
                  &::after {
                     background: url('../img/portfolio.jpg') center/cover;
                  }
               }

               &#design-portfolio {
                  &::after {
                     background: url('../img/design-portfolio.jpg') top/cover;
                  }
               }

               &#rest-api-countries {
                  &::after {
                     background: url('../img/rest-countries.jpg') top/cover;
                  }
               }

               &#micrographia {
                  &::after {
                     background: url('../img/micrographia.jpg') center/cover;
                  }
               }

               & > div {
                  @include flex(center, center, column);
                  width: 100%;
                  height: 100%;
                  background: #f0a315de;
                  position: absolute;
                  z-index: 1;
                  opacity: 0;
                  
                  & > div.app__project__text {
                     width: 75.13%;
                     margin-bottom: 5px;

                     span {
                        text-align: center;
                        display: block;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.531px;

                        &:nth-child(1) {
                           font-weight: 700;
                           font-size: 22px;
                        }
                     }
                  }

                  & > div.app__project__icon {
                     width: 65px;
                     height: 65px;
                     border-radius: 100%;
                     @include flex(center, center, column);
                     position: relative;

                     div.app__project__icon__slider {
                        @include flex(center, center, false);
                        width: 30px;
                        height: 30px;
                        position: relative;
                        overflow: hidden
                     }

                     div.app__project__icon__slide {
                        display: flex;
                        gap: 15px;
                        width: max-content;
                        position: absolute;
                        transform: rotate(-45deg) translateX(-24px);
                     }

                     & svg {
                        width: 30px;
                        height: 30px;
                     }
                  }
               }

               &:hover {
                  & > div {
                     opacity: 1;

                     & > div.app__project__icon {
                        div.app__project__icon__slide {
                           transform: rotate(-45deg) translateX(22px);
                        }
                     }
                  }
               }
            }
         }

         @include tabs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 48px;
         }
      }

      &.shown {
         display: block;
      }
   }

   &__skills {
      width: 100%;
      display: none;

      ul {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
         gap: 30px;

         @include tabs {
            gap: 48px;
         }

         li {
            display: inline-block;
            width: 100%;
            aspect-ratio: 1 / 1;
            padding: 20% 30%;  
            border-radius: 30px;
            @include flex(center, center, false);
            
            &:hover {
               background: #f0a315de;

               svg {
                  transition: .3s;
                  transform: scale(1.1);
               }
            }

            svg {
               width: 100%;
               display: block;
            }
         }
      }
      
      &.shown {
         display: block;
      }
   }
}