* {
   // @include outline;
   cursor: url('/img/cursor.png'), default;
}

label, label *,
button, button *,
a, a *,
li.app__skill, li.app__skill > * {
   cursor: url('/img/cursor_hand.png'), pointer;
}


.dark {
   * {
      cursor: url('/img/cursor_dark.png'), default;
   }

   label, label *,
   button, button * {
      cursor: url('/img/cursor_hand_dark.png'), pointer;
   }

   a, a * {
      cursor: url('/img/cursor_hand_dark.png'), pointer;
   }

   a.primary, a.primary *,
   li.app__project > a, li.app__project > a *
   li.app__skill , li.app__skill > * {
      cursor: url('/img/cursor_hand.png'), pointer;
   }
}

