@import './colors';

* {
   // @include outline;
   cursor: url('/img/cursor.png'), default;

   &::selection {
      background-color: $tcd-grey;
      color: $tcd-off-white-2;
   }
}

label,
label *,
button,
button *,
a,
a *,
li.app__skill,
li.app__skill>* {
   cursor: url('/img/cursor_hand.png'), pointer;
}


.dark {
   * {
      cursor: url('/img/cursor_dark.png'), default;

      &::selection {
         background-color: $tcd-navy-2;
         color: $tcd-off-white-2;
      }
   }

   label,
   label *,
   button,
   button * {
      cursor: url('/img/cursor_hand_dark.png'), pointer;
   }

   a,
   a * {
      cursor: url('/img/cursor_hand_dark.png'), pointer;
   }

   a.primary,
   a.primary *,
   li.app__project>a,
   li.app__project>a *,
   li.app__skill,
   li.app__skill * {
      cursor: url('/img/cursor_hand.png'), pointer;
   }

}